@import '../quasar.variables.scss';

@mixin boxWhite {
  background-color: $white;
  box-shadow: $boxShadow;
  box-sizing: border-box;
}

@mixin shortText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}